.highlightColumn {
  background-color: rgba(89, 88, 88, 0.31) !important;
  /*border: 1px solid red !important;*/
  /* border-left: 1px solid red !important;
  border-right: 1px solid red !important; */
}

.highlightRow {
  background-color: #acecf0 !important;
  border: 1px solid red !important;
  /* border-top: 1px solid red !important;
  border-bottom: 1px solid red !important; */
}

.reserveBtn {
  border: 1px solid rgb(39, 128, 252);
  background-color: rgb(39, 128, 252);
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  width: 200px;
  margin-top: 20px;
}

.reserveBtn:hover {
  transition: .5s;
  background-color: white;
  color: rgb(4, 20, 42);
}

.reserveBtnDisable {
  border: 1px solid gray;
  background-color: gray;
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  width: 200px;
  margin-top: 20px;
}

.reserveBtnDisable:hover {
  transition: .5s;
  background-color: rgb(209, 209, 209);
  color: rgb(4, 20, 42);
  cursor: not-allowed;
}

.closeBtn {
  padding: 10px 5px;
  color: white;
  background-color: #f03333;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #f03333;
  margin-top: 20px;
  margin-left: 20px;
}

.closeBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: .3s;
}

.reserveBtnForText {
  width: 110px;
  font-size: 16px;
  padding: 10px 5px;
  color: white;
  background-color: rgb(39, 128, 252);
  border: 1px solid rgb(39, 128, 252);
  border-radius: 5px;
}

.closeBtnForText {
  width: 110px;
  font-size: 16px;
  padding: 10px 5px;
  color: white;
  background-color: #f03333;
  border: 1px solid #f03333;
  border-radius: 5px;
}

.closeBtn {
  padding: 10px 5px;
  color: white;
  background-color: #f03333;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #f03333;
  margin-top: 20px;
  margin-left: 20px;
}

.riddler {
  width: 30px;
  height: 30px;
  cursor: help;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(0 166 90);
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  z-index: 50;
  position: absolute;
  top: -45px;
  right: 0;
}

.riddler:hover {
  background-color: rgb(12, 27, 44);
}
