.highlight {
  background-color: #cef1f3 !important;
  border-left:  1px solid red !important;
  border-right: 1px solid red !important;
}

.reserveBtn {
  border: 1px solid rgb(39, 128, 252);
  background-color: rgb(39, 128, 252);
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  width: 200px;
  margin-top: 20px;
}
.reserveBtn:hover {
  transition: .5s;
  background-color: white;
  color: rgb(4, 20, 42);
}

.reserveBtnDisable {
  border: 1px solid gray;
  background-color: gray;
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  width: 200px;
  margin-top: 20px;
}
.reserveBtnDisable:hover {
  transition: .5s;
  background-color: rgb(209, 209, 209);
  color: rgb(4, 20, 42);
}

.closeBtn {
  padding: 10px 5px;
  color: white;
  background-color: #f03333;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #f03333;
  margin-top: 20px;
  margin-left: 20px;
}

.closeBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: .3s;
}