.backButtonBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.backButton {
  padding: 5px 10px;
  color: white;
  background-color: #f03333;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #f03333;
  white-space: nowrap;
  height: 38px;
  margin: auto 0;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 20px 0;
}

.fullPrice {
  padding: 8px 10px;
  background-color: #d3e9ff;
  border-radius: 5px;
  font-size: 14px;
}

.backButton:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: .3s;
}

.editButtonColumn {
  /* grid-area: 1 / 1 / 2 / 2; */
  border: 1px solid green;
}

.bookingDateColumn {
  /* grid-area: 1 / 2 / 2 / 3; */
  border: 1px solid blue;
}

.reserveBtn {
  border: 1px solid rgb(39, 128, 252);
  background-color: rgb(39, 128, 252);
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 20px;
}

.reserveBtn:hover {
  transition: .5s;
  background-color: white;
  color: rgb(4, 20, 42);
}

.closeBtn {
  padding: 10px 5px;
  color: white;
  background-color: #f03333;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #f03333;
  margin-top: 20px;
  margin-left: 20px;
}

.closeBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: .3s;
}

.gridActiveBG {
  background: repeating-linear-gradient(-45deg, #9cbbe4 0, #9cbbe4 1px, transparent 0px, transparent 17px);
  border: 2px solid #2684ff !important;
  box-sizing: border-box;
}

.gridDisabledBG {
  background: hsla(0, 0%, 82%, .3);
  box-sizing: border-box;
}

.activeCell {
  border: 3px solid #2684ff;
}

.fc-day {
  border: 1px solid red !important;
}

.btnCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btnContEdit {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 20px;
}