.containerTimeline {
  width: 45vw;
  /* height: 90vh; */
  margin: 20px auto 0;
  background-color: #fdfdfd;
  border: 1px solid #c52020;
  border-radius: 5px;
  padding: 2px 2px 0 2px;
  /* position: fixed; */
  right: 2%;
  top: 13%;
}

.tableTimeline {
  width: 100%;
}

/*
.rct-outer {
  margin-top: 500px;
} */

.monthLabel {
  text-align: left;
  font-size: 18px;
  background-color: rgb(224, 224, 224);
}

.monthLabel::first-letter {
  text-transform: uppercase;
}

.customCalendar {
  position: absolute;
  margin-top: 32px;
  z-index: 101;
  /* макс-ый zIndex у либы calendar-timeline - 100*/
}

.containerGroupSwitching {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.highlight {
  background-color: #cef1f3 !important;
}

.blocked {
  background-color: #b6b6b6 !important;
}

.react-calendar-timeline .rct-sidebar s.rct-sidebar-row {
  padding: 0 !important;
}
.equipment_description {
  padding: 5px 10px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  width: 44vw;
  display: flex;
  margin: 20px auto 0;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.equipment_description img{
  width: 100px;
  height: 100px;
}
