#root {
    padding: 20px;
}

.hidden {
    display: none;
}

.sortItem {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.sortItem button {
    width: 10px;
    height: 10px;
    background-color: brown;
}

.container {
    width: 100%;
    height: 80vh;
}

.container.sort-box {
    height: 15vh;
    display: flex;
    align-items: end;
    gap: 40px;
}

.sort-box_item {
    display: flex;
    margin-bottom: 35px;
    gap: 40px;
}

.sort-box_item:last-child {
    margin-bottom: 70px;
}

.select-box .select-count-order-box {
    height: 50px;
}

.clear-button {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #f03333;
    border: none;
    color: white;
    border-radius: 5px;
}

.messageWindow {
    width: 205px;
    height: 230px;
    position: absolute;
    background-color: rgb(252, 253, 253);
    top: 50%;
    right: 50%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(156, 156, 156);
    padding: 10px;
    border-radius: 5px;
}

.messageWindow .button-close {
    background-color: #f03333;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 85%;
    cursor: pointer;
    line-height: 11px;

}

.messageWindow-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageWindow-item span:nth-child(2n) {
    font-weight: 600;
}

.tools-filter {
    min-width: 200px;
    width: auto;
}

.css-b62m3t-container {
    margin-top: 5px;
}

.select-date-box {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.select-date-box .active {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 200;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.button-select-date {
    min-height: 38px;
    min-width: 115px;
    margin-bottom: 10px;
    border: 1px solid rgb(39, 128, 252);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    box-sizing: border-box;
}

.button-select-date:hover {
    cursor: pointer;
}

.button-select-date:active {
    border: 2px solid rgb(39, 128, 252);
}

.select-count-box,
.select-count-order-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-count-box {
    height: fit-content;
    margin-top: 30px;
}

.select-count-box select,
.select-count-order-box select {
    padding: 5px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    outline: none;
}

.reserved-btn {
    border: 1px solid rgb(39, 128, 252);
    background-color: rgb(39, 128, 252);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 20px;
}

.reserved-btn-locked {
    border: 1px solid rgb(238, 73, 73);
    background-color: rgb(238, 73, 73);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 20px;
}

.reserved-btn:hover {
    transition: .5s;
    background-color: white;
    color: rgb(4, 20, 42);
}

.rct-header-root {
    position: fixed;
    z-index: 100;
    width: 97.2% !important;
}

.react-calendar-timeline.container {
    position: relative;
    overflow: scroll;

}

.rct-outer {
    margin: 62px 0 0;
}

.select-filter {
    z-index: 200;
}

.btn-date {
    margin-bottom: 35px;
}

.rct-sidebar-row .highlight,
.react-calendar-timeline .rct-horizontal-lines .highlight {
    background-color: #bada55 !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    padding-left: 0;
}

.tooltip {
    background-color: rgb(253, 223, 223);
    padding: 5px 10px;
    border: 1px solid #ff0000;
    color: #000;
    position: absolute;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.style .rct-header-root {
    position: relative !important;
    width: auto !important;
}

.style .rct-outer {
    margin: 0;
}

.headerSwitch {
    margin-bottom: 5px;
}

.headerSwitch div {
    align-items: center;
}

.headerSwitch button {
    height: 35px;
    width: 35px;
    font-size: 16px;
    line-height: 26px;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
}

.headerSwitch p {
    margin: 0;
}

.selects-block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.selects-block .select-count-box {
    font-size: 14px;
}

.selects-block .select-count-box,
.selects-block button {
    margin: 0;
}

.date-block {
    border: 1px solid #b7b7b7;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.date-block p {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: #001f5d;
}

.one-date-string {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.one-date-string:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.one-date-string label {
    display: flex;
    align-items: center;
    width: fit-content;
}

.one-date-string .checkboxes {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
}

.selects-block .active {
    top: 45px;
}
.confirmWindow {
    max-height: 200px;
    overflow-y : auto
}