#root {
    padding: 20px;
}

.hidden {
    display: none;
}

.sortItem {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.sortItem button {
    width: 10px;
    height: 10px;
    background-color: brown;
}

.container {
    width: 100%;
    height: 80vh;
}

.container.sort-box {
    height: 15vh;
    display: flex;
    align-items: end;
    gap: 40px;
}

.sort-box_item {
    display: flex;
    margin-bottom: 35px;
    gap: 40px;
}

.sort-box_item:last-child {
    margin-bottom: 70px;
}

.select-box .select-count-order-box {
    height: 50px;
}

.clear-button {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #f03333;
    border: none;
    color: white;
    border-radius: 5px;
}

.messageWindow {
    width: 205px;
    height: 230px;
    position: absolute;
    background-color: rgb(252, 253, 253);
    top: 50%;
    right: 50%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(156, 156, 156);
    padding: 10px;
    border-radius: 5px;
}

.messageWindow .button-close {
    background-color: #f03333;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 85%;
    cursor: pointer;
    line-height: 11px;

}

.messageWindow-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageWindow-item span:nth-child(2n) {
    font-weight: 600;
}

.tools-filter {
    min-width: 200px;
    width: auto;
}

.select-filter.choose-product.css-b62m3t-container {
    margin-top: 5px;
}

.select-date-box {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.select-date-box .active {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 200;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.button-select-date {
    min-height: 38px;
    min-width: 115px;
    margin-bottom: 10px;
    border: 1px solid rgb(39, 128, 252);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    box-sizing: border-box;
}

.button-select-date:hover {
    cursor: pointer;
}

.button-select-date:active {
    border: 2px solid rgb(39, 128, 252);
}

.select-count-box,
.select-count-order-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-count-box {
    height: fit-content;
    margin-top: 30px;
}

.select-count-box select,
.select-count-order-box select {
    padding: 5px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    outline: none;
}

.reserved-btn {
    border: 1px solid rgb(39, 128, 252);
    background-color: rgb(39, 128, 252);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 20px;
}

.reserved-btn-locked {
    border: 1px solid rgb(238, 73, 73);
    background-color: rgb(238, 73, 73);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 20px;
}

.reserved-btn:hover {
    transition: .5s;
    background-color: white;
    color: rgb(4, 20, 42);
}

.rct-header-root {
    position: fixed;
    z-index: 100;
    width: 97.2% !important;
}

.react-calendar-timeline.container {
    position: relative;
    overflow: scroll;

}

.rct-outer {
    margin: 62px 0 0;
}

.select-filter {
    z-index: 200;
}

.select-filter.choose-product {
    z-index: 300;
}

.btn-date {
    margin-bottom: 35px;
}

.rct-sidebar-row .highlight,
.react-calendar-timeline .rct-horizontal-lines .highlight {
    background-color: #bada55 !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    padding-left: 0;
}

.tooltip {
    background-color: rgb(253, 223, 223);
    padding: 5px 10px;
    border: 1px solid #ff0000;
    color: #000;
    position: absolute;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    opacity: 1;
    z-index: 1;
}

.style .rct-header-root {
    position: relative !important;
    width: auto !important;
}

.style .rct-outer {
    margin: 0;
}

.headerSwitch div {
    align-items: center;
    gap: 20px;
}

.headerSwitch button {
    height: 35px;
    width: 35px;
    font-size: 16px;
    line-height: 26px;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.headerSwitch p {
    margin: 0;
}

.selects-block {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.selects-block .select-count-box {
    font-size: 16px;
}

.selects-block .select-count-box,
.selects-block button {
    margin: 0;
}

.date-block {
    border: 1px solid #b7b7b7;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 350px;
    background-color: #fff;
    overflow-y: auto;
}

.date-block p {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: #001f5d;
}

.one-date-string {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.one-date-string:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.one-date-string label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
}

.one-date-string label input {
    margin: 0;
}

.one-date-string .checkboxes {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
}

.selects-block .active {
    top: 45px;
}

.confirmWindow {
    max-height: 300px;
    overflow-y: auto
}

.preOrderTable {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    max-height: 190px;
    overflow-x: auto;
    background-color: #fff;
}

.cross {
    border-radius: 2px;
    border: 1px solid #777777;
    background-color: white;
    color: #f03333;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 14px;
    padding: 2px 2px 4px;
    cursor: pointer;
}

.preOrder {
    display: flex;
    justify-content: space-between;
    border: 1px solid #b7b7b7;
    padding: 5px 7px;
    gap: 10px;
    border-radius: 5px;
}

.itemPreOrder {
    width: fit-content;
    background-color: white;
}

.preOrderContent div {
    font-size: 14px;
}

.preOrderContent div:first-child {
    font-weight: 600;
    margin-bottom: 2px;
}

.messageWindow.rentOrderPopup {
    width: 400px;
    right: 40%;
    top: 25%;
    min-height: 400px;
    position: fixed;
}

.messageWindow.rentOrderPopup .button-close {
    left: auto;
    right: 10px;
}

.titlePopup {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.messageWindow.rentOrderPopup .messageWindow-item {
    flex-direction: row;
    margin-bottom: 5px;
}

.order {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: start;
}

.order .numberOrder {
    font-size: 16px;
    font-weight: 600;
}

.orderBtn {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.orderBtn .reserved-btn {
    margin: 0;
    width: 100%;
}

.closeBtn {
    color: white;
    background-color: #f03333;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #f03333;
    padding: 10px 15px;
    border-radius: 5px;
    width: 50%;
}

.closeBtn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: .3s;
}

.equipment_color_block {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.price-item {
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.fc-toolbar-chunk button.fc-today-button {
    display: none !important;
}

.label-checkbox {
    display: block;
    max-width: 175px;
}

.input-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-checkbox input {
    width: 25px;
    height: 25px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
}

.input-count-box {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.input-count-box .select-count-box {
    margin: 0;
}

.calendar-count {
    position: relative;
    margin-top: 40px;
}

.switch {
    position: absolute;
    top: 10px;
    left: 0;
}

.switch span {
    position: relative;
    bottom: 8px;
    margin-right: 10px;
}

.fc .fc-toolbar-title {
    margin-left: 180px;
    font-size: 20px;
}

.choose-category {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #2780fc;
    font-size: 16px;
}

.choose-category_item {
    font-weight: 700;
}

.price-count {
    margin-top: 0;
}

.fc-button-group .fc-button:last-child {
    display: none;
}

.fc-next-button {
    border-radius: 0 5px 5px 0 !important;
}

.fc-toolbar-chunk button:last-child {
    background-color: #00a65a;
    border-color: #00a65a;
}

.clueItemColor {
    height: 15px;
    width: 15px;
    margin-top: 5px;
    border-radius: 5px;
}

.clueItem {
    display: flex;
    gap: 10px;
    align-items: start;
    margin-bottom: 15px;
}

.react-tooltip {
    background: #484848 !important;
}

.fc .fc-highlight {
    background: repeating-linear-gradient(-60deg, #555 0, #555 1px, transparent 1px, transparent 5px);

}