/* .profitChartContainer {
    height : 230px;
    width: 800px;
} */

.containerChart {
    width: 400px;
    height: 345px;
}
.containerUserBox{
    width: 420px;
    height: 403px;
}

.btn-cont-dash{
    display: flex;
    gap: 5px;
}

.title-table{
    font-weight: 600;
}

.containerChart.last-orders{
    width: 100%;
}
.calendarContainer {
    right: 15px;
    top: 45px;
    border: 1px solid #d0d0d0;
}

.button-wrapper {
    width: auto;
}

#canvas{
    background-color: white;
    padding: 5px;
}

.table{
    background-color: white;
}

.cont-btn-dash{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-box{
    min-height: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    border: 2px solid #d0d0d0;
    width: fit-content !important;
}

.info-box-content{
    margin-left: 0 !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-box-text, .info-box-number{
    font-size: 14px !important;
}
.statsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statsDashboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.btn-cont-dash .containerCalendarDashboard .button-wrapper .btn-sm{
    font-size: 14px;
}

.info-box-number, .positive-values{
    color: #1fcb22;
}

.active.calendarContainer{
    position: absolute;
}

.statsItem .values{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.negative-values{
    color: #f03333;
}