/* .profitChartContainer {
    height : 230px;
    width: 800px;
} */

.containerChart {
    width: 400px;
    height: 345px;
}
.containerUserBox{
    width: 420px;
    height: 403px;
}

.btn-cont-dash{
    display: flex;
    gap: 5px;
}

.title-table{
    font-weight: 600;
}

.containerChart.last-orders{
    width: 100%;
}
.calendarContainer {
    left: 4px;
}

.button-wrapper {
    width: 100px;
}

#canvas{
    background-color: white;
    padding: 5px;
}

.table{
    background-color: white;
}

.cont-btn-dash{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-box{
    min-height: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    border: 2px solid #d0d0d0;
    width: fit-content !important;
}

.info-box-content{
    margin-left: 0 !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-box-text, .info-box-number{
    font-size: 14px !important;
}